In [43]:
#Assignment Python Basics 1
#1
stringin = input("Enter the string here: ")
stringshort = []
for x in stringin:
    if x not in stringshort:
        stringshort.append(x)
    #print(x, stringin.count(x))


for x in stringshort:
    print(x, "=",  stringin.count(x))

Enter the string here: hi how are you
h = 2
i = 1
  = 3
o = 2
w = 1
a = 1
r = 1
e = 1
y = 1
u = 1

In [49]:
#2
input_string = input("Enter numbers separated by commas: ")
my_list = input_string.split(",")
my_list.sort()
print(my_list[-1])

Enter numbers separated by commas: 1,2,3,4,2,1
4

In [3]:
#3
def exponent(base,exp):
  return base**exp

base = float(input("Enter the base: "))
exp = float(input("Enter the exponent: "))
print(exponent(base,exp))

Enter the base: 2
Enter the exponent: 3
8.0

In [5]:
#4
number = int(input("Enter the number: "))
k = 0
for i in range(number):
  k = i**3 + k

print(k)

Enter the number: 4
36

In [20]:
#5
for i in range(11):
  if i !=0:
    if i % 2 == 0:
      print(i, "Fizz")
    if i % 5 ==0:
      print(i, "Buzz")
    if i % 2 ==0 and i % 5 == 0:
      print(i, "FizzBuzz")

2 Fizz
4 Fizz
5 Buzz
6 Fizz
8 Fizz
10 Fizz
10 Buzz
10 FizzBuzz

In [21]:
#6
input_string = input("Enter the list of numbers separated by commas: ")
my_list = input_string.split(",")
print("Then gine list is: ")
print(my_list)
listcount = []
for i in my_list:
    #print(listx.count(i))
    listcount.append(my_list.count(i))

print("Maximun frequency observed is: ", max(listcount))
position =listcount.index(max(listcount))
#print(position)
print("The item with maximum frequency is: ", my_list[position])

Enter the list of numbers separated by commas: 1,2,3,4,1,2,3,1,1,5,5,5,5,6,7,8,5,3
Then gine list is:
['1', '2', '3', '4', '1', '2', '3', '1', '1', '5', '5', '5', '5', '6', '7', '8', '5', '3']
Maximun frequency observed is:  5
The item with maximum frequency is:  5

In [24]:
#7
list1 = [1,2,3,4,5]
list2 = [num*num for num in list1]
print("Input list is : ", list1)
print("Squared list is: ", list2)
print("Sum of squares: ", sum(list2))

Input list is :  [1, 2, 3, 4, 5]
Squared list is:  [1, 4, 9, 16, 25]
Sum of squares:  55

In [51]:
#8
for x in range(1,16):
  #print(x,"-odd " if x% 2==0 else x,"-even", end="")
  if x % 2 ==0:
    print(x,"-even")
  else:
    print(x,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

In [38]:
#9
tempFahrenheit = float(input("Enter the Temperature in Fahrenheit: "))
tempCelcius = 5*((tempFahrenheit-32)/9)
print("Temperature in Celsius = ", tempCelcius)

Enter the Temperature in Fahrenheit: 41
Temperature in Celsius =  5.0

In [42]:
#10
def factorial(number):
    fact = 1
    for i in range(number):
        fact = fact*(i+1)

    return fact
number = int(input("Enter the number to find the factorial: "))
print(f"The factorial of {number} is {factorial(number)}")

Enter the number to find the factorial: 3
The factorial of 3 is 6

In [ ]:
#Assignment Python Basics 2
#1
radius = float(input("Enter the radius of the circle: "))
pi = 22/7
area = pi*radius*radius
print("Area of the circle = ", area)

Enter the radius of the circle: 3
Area of the circle =  28.285714285714285

In [48]:
#2
# Getting inputs as a dictionary using dictionary comprehension
keys = ['Name', 'Roll No2', 'Marks']  # List of keys for the dictionary
my_dict = {key: input(f"Enter the {key}: ") for key in keys}

# Printing the resulting dictionary
print("The student details are: \n")
for key, value in my_dict.items():
    print(f"{key}: {value}")

Enter the Name: Vishnu
Enter the Roll No2: 112320
Enter the Marks: 55
The student details are:

Name: Vishnu
Roll No2: 112320
Marks: 55

In [50]:
#3
input_string = input("Enter list of  numbers separated by commas: ")
my_list = input_string.split(",")
my_list.sort()
print("The largest number in the list is: ", my_list[-1])

Enter list of  numbers separated by commas: 10,23,21,1,78,56,3,43
The largest number in the list is:  78

In [56]:
#4
for x in range(1,11):
  print("current number: ", x," previous number: ", x-1, "and the Sum of the numbers = ", 2*x -1)

current number:  1  previous number:  0 and the Sum of the numbers =  1
current number:  2  previous number:  1 and the Sum of the numbers =  3
current number:  3  previous number:  2 and the Sum of the numbers =  5
current number:  4  previous number:  3 and the Sum of the numbers =  7
current number:  5  previous number:  4 and the Sum of the numbers =  9
current number:  6  previous number:  5 and the Sum of the numbers =  11
current number:  7  previous number:  6 and the Sum of the numbers =  13
current number:  8  previous number:  7 and the Sum of the numbers =  15
current number:  9  previous number:  8 and the Sum of the numbers =  17
current number:  10  previous number:  9 and the Sum of the numbers =  19

In [59]:
#5
input_string = input("Enter elements of the list to sum up, separated by spaces: ")
my_list = input_string.split()
list_5 = []
for x in my_list:
  if float(x) % 5 ==0:
    list_5.append(int(x))


print(list_5)

Enter elements of the list to sum up, separated by spaces: 1 23 21 20 50 100 32 21
[20, 50, 100]

In [66]:
#6
num = int(input("Enter the number: "))
if num == 1 or num == 2 or num == 3 or num == 5 or num == 7:
  print("The number is prime: ", num)
else:
  if num % 2 == 0 or num % 3 == 0 or num % 5 == 0 or num % 7 == 0:
      print("The number is not prime: ", num)
  else:
      print("The number is prime: ", num)

Enter the number: 17
The number is prime:  17

In [79]:
#7
my_list2 = [1,2,12,54,76,12,98,100,0,1,3,4]
my_list2.reverse()
print(my_list2, len(my_list2))
revlist = []
for x in range(12):
  revlist.append(my_list2[11-x])


print(revlist)

[4, 3, 1, 0, 100, 98, 12, 76, 54, 12, 2, 1] 12
[1, 2, 12, 54, 76, 12, 98, 100, 0, 1, 3, 4]

In [81]:
#8
for i in range(4):
    print((i+1)*"*")
    print("\n")

*


**


***


****

In [92]:
#9
for i in range(5):
    print((i+1)*"*")
    print("\n")
for i in range(-4,0):
    num = int(((i*i)**0.5))
    print(num*"*")
    print("\n")

*


**


***


****


*****


****


***


**


*